{# print.jinja #}
{#
    This Jinja2 template includes a PowerShell print script.
#}
$base64EncData  = {{ ciphertext }}
{# Perform base64 decoding #}
{% include "powershell/decode/base64.jinja" %}
{# Perform decryption #}
{% include "powershell/decrypt/aes-dotnet.jinja" %}

[System.Text.Encoding]::UTF8.GetString($data)