{# print.jinja #}
{# 
    This Jinja2 template includes a visual basic
    script printing the encrypted message to console.
#}

{# Perform decryption #}
{# {% include "vba/decrypt/aes-dotnet.jinja" %} #}

{# Perform byte conversion #}
{% include "vba/transform/bytearraytostring.jinja" %}


{{ ciphertext }}

Sub Main()

    Dim Data() As Byte

    Data = DecryptCaesar()
    Debug.Print "Decrypted data: " & ByteArrayToString(Data)

End Sub

Sub Document_Open()
    Main
End Sub

Sub AutoOpen()
    Main
End Sub
